body {
    color: #091505;
    height: 100%;
}

html {
    height: 100%;
}

ul {
    padding: 0 2.25rem;
}

li {
    text-align: left;
}

h5 {
    color: #34cc00;
    font-weight: bold;
}

.content {
    background-color: white;
    margin: .5rem auto 0 auto;
    overflow: auto;
    padding-bottom: 5rem;
}

.my-nav {
    background-color: #34cc00;
}

.nav-logo {
    height: 1.75rem;
}

.cushion {
    min-height: 100%;
}

.footer {
    position: relative;
    height: 3rem;
    background-color: #34cc00;
    margin-top: -3rem;
    clear: both;
}

.footer-content {
    color: rgba(255,255,255,.5);
    padding-top: 0.75rem;
    text-align: center;
}

.wordy-list {
    list-style-type: none;
    margin-top: 1rem;
    line-height: 1.5;
}

#home-title {
    color: white;
    width: 100%;
    font-size: 350%;
    text-shadow: -1px 0 #091505, 0 1px #091505, 1px 0 #091505, 0 -1px #091505;
    font-weight: bold;
    text-align: center;
    line-height: .8;
    margin-top: 4rem;
}
#home-banner-content {
    position: relative;
    width: 100%;
}

.home-divider {
    border-color: white;
    width: 75%;
}

#home-banner-logo {
    width: 80%;
}

#banner-text-box {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#banner-box {
    margin: 0 auto;
    text-align: center;
}

#subline {
    text-align: center;
    padding: 0 2.25rem;
    font-size: 1.5rem;
}

#slogan {
    width: 70%;
    text-align: center;
    font-weight: 400;
    font-size: 1.5rem;
    text-align: center;
    margin: .5rem auto 1rem auto;
    color: white;
    line-height: .8;
}

#home-head {
    padding: 1rem;
    background-color: white;
    background-image: url("../images/photos/playgroundlight.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}

#home-contact-bottom {
    display: none;
}

a.blog-blurb {
    color: #091505;
}

.blog-blurb-content {
    margin-top: .2rem;
}

#home-news {
    list-style: none;
    padding: 0;
}

#home-chapel {
    width: 100%;
    margin: 1rem auto;
    padding: 0 2.25rem;
}

.right-half {
    padding: 0 3rem;
}

.affiliation {
    height: 7rem;
    margin: 0 auto 1rem auto;
}

.affiliation-box {
    margin-top: 1rem;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #b2e1a1;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active-slide, .dot:hover {
  background-color: #34cc00;
}

/* Fading animation */
.my-fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.class-head {
    background-image: url("../images/photos/classhead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.registration-head {
    background-image: url("../images/photos/registration.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.parents-head {
    background-image: url("../images/photos/parentshead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.accreditation-head {
    background-image: url("../images/photos/accreditationhead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.about-head {
    background-image: url("../images/photos/buildinglight.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.staff-head {
    background-image: url("../images/photos/staffhead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.news-head {
    background-image: url("../images/photos/newshead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.contact-head {
    background-image: url("../images/photos/contacthead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.handbook-head {
    background-image: url("../images/photos/handbook-head.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.class-card {
    margin-bottom: 1rem;
}

.page-title {
    font-size: 350%;
    text-align: center;
    color: white;
    text-shadow: -1px 0 #091505, 0 1px #091505, 1px 0 #091505, 0 -1px #091505;
}

.sub-list-box {
    width: 80%;
    margin: 1rem auto;
}

.sub-list {
    margin-bottom: .5rem;
}

.spacer {
    padding: 1rem;
}

.staff-pic {
    width: 100%;
    padding: .8rem 0;
}

.picture-box {
    margin: .5rem 2rem;
}

.contact {
    text-align: center;
    margin: .25rem;
    font-weight: bold;
}

.features {
    font-weight: bold;
    font-size: 1.25rem;
    color: #34cc00;
}

#naeyc-logo {
    width: 15rem;
}

.full-margin {
    padding: 0 2rem;
}

.about-card {
    width: 75%;
    margin: .5rem auto;
}

.about-card-header {
    background-color: #ebf9e6;
    color: #1c3e11;
    font-weight: bold;
    font-size: 1.15rem;
}

.about-section {
    margin: 0 2rem 3rem 2rem;
}

.blog {
    width: 75%;
    margin: 0 auto 1rem auto;
}

.blog-body{
    padding: 1rem;
}

.blog-title {
    font-weight: bold;
    font-size: 1.25rem;
}

.blog-author {
    display: inline;
    margin-right: .5rem;
    color: #546e4b;
}

.blog-date {
    display: inline;
    color: #546e4b;
}

.blog-content {
    margin-top: 1rem;
}

/* Add this for tablet size */

/* .my-brand {
    width: 10%;
} */

@media screen and (max-width: 417px) {

    .my-brand {
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {

    #home-title {
        font-size: 200%;
    }

    #slogan {
        font-size: 1rem;
    }

    .home-divider {
        display: none;
    }

    #home-contact-top {
        display: none;
    }

    #home-contact-bottom {
        display: block;
    }

    .footer-content {
        font-size: .9rem;
    }

    .footer {
        height: 4.5rem;
        margin-top: -4.5rem;
    }

    .content {
        padding-bottom: 6.5;
    }
  }

  @media screen and (max-width: 1115px) and (min-width: 992px) {

    .my-nav-link {
        padding-left: .2rem!important;
        padding-right: .2rem!important;
        font-size: .95rem!important;
    }
  }